In [20]:
import json
import pandas as pd
import pymysql
from sqlalchemy import create_engine
pd.set_option('display.max_columns', 500)

In [21]:
# Credentials
with open("credentials.json") as f:
    credentials = json.loads(f.read())
    
    host = credentials["host"]
    user = credentials["db_user"]
    password = credentials["db_pass"]
    db = credentials["db_name"]

engine = create_engine(f"mysql+pymysql://{user}:{password}@{host}:3306/{db}")

In [22]:
# Database call for bus data
df = pd.read_sql_query('SELECT * FROM static_bus_data', engine)
df.head()

,long,lat,longname,stoppointid,streetname,stage
0,-6.26372,53.3522,Parnell Square West,2,Parnell Square West,None
1,-6.26381,53.3523,Parnell Square West,3,Parnell Square West,None
2,-6.26418,53.3526,Parnell Square West,4,Parnell Square West,None
3,-6.26445,53.3527,Parnell Square West,6,Parnell Square West,None
4,-6.26457,53.3528,Parnell Square West,7,Parnell Square West,None

In [23]:
df1 = pd.read_csv('fare_stages.csv')
df1.head()

,ID,LOCATION_TEXT,ADDRESS,STATUS,NAME,ROUTE_DIRECTION,SEQUENCE,IS_STAGE_POINT,STAGE_NUMBER,JOURNEY_PATTERN_ID,RTPI_DESTINATION,RTPI_ORGIN,RTPI_VIA,SEQUENCE_NUMBER,FARE
0,226,Shanard Avenue,Shanard Road,ACTIVE,1,O,10.0,Y,17.0,00010001,Sandymount,Santry,O'Connell St,0,0.0
1,228,Oldtown Avenue,Shanliss Rd,ACTIVE,1,O,20.0,N,NaN,00010001,Sandymount,Santry,O'Connell St,1,0.0
2,229,Oldtown Road,Shanliss Rd,ACTIVE,1,O,30.0,N,NaN,00010001,Sandymount,Santry,O'Connell St,2,0.0
3,227,Shanliss Drive,Shanliss Rd,ACTIVE,1,O,40.0,N,NaN,00010001,Sandymount,Santry,O'Connell St,3,0.0
4,230,Shanowen Road,Shanliss Rd,ACTIVE,1,O,50.0,N,NaN,00010001,Sandymount,Santry,O'Connell St,4,0.0

In [24]:
df1 = df1[['ID','IS_STAGE_POINT', 'NAME', 'ROUTE_DIRECTION']]
df1.head()

    ID IS_STAGE_POINT NAME ROUTE_DIRECTION
0  226              Y    1               O
1  228              N    1               O
2  229              N    1               O
3  227              N    1               O
4  230              N    1               O

In [25]:
df1.shape

(24902, 4)

In [26]:
df1.ID.max()

7668

In [27]:
df.head()

,long,lat,longname,stoppointid,streetname,stage
0,-6.26372,53.3522,Parnell Square West,2,Parnell Square West,None
1,-6.26381,53.3523,Parnell Square West,3,Parnell Square West,None
2,-6.26418,53.3526,Parnell Square West,4,Parnell Square West,None
3,-6.26445,53.3527,Parnell Square West,6,Parnell Square West,None
4,-6.26457,53.3528,Parnell Square West,7,Parnell Square West,None

In [28]:
df1.head()

    ID IS_STAGE_POINT NAME ROUTE_DIRECTION
0  226              Y    1               O
1  228              N    1               O
2  229              N    1               O
3  227              N    1               O
4  230              N    1               O

In [29]:
df1.loc[df1['ID'] == 228]

        ID IS_STAGE_POINT NAME ROUTE_DIRECTION
1      228              N    1               O
64     228              N    1               O
12129  228              Y  104               I
15668  228              N   1C               O

In [30]:
df1 = df1.drop_duplicates()

In [31]:
len(df1)

12531

In [32]:
df1 = df1.rename(columns={'ID': 'stoppointid', 'IS_STAGE_POINT': 'is_stage', 'NAME': 'route', 'ROUTE_DIRECTION': 'direction'})

In [33]:
df.columns

Index(['long', 'lat', 'longname', 'stoppointid', 'streetname', 'stage'], dtype='object')

In [34]:
df2 = pd.merge(df,df1, on='stoppointid')
df2.head(100)

,long,lat,longname,stoppointid,streetname,stage,is_stage,route,direction
0,-6.26372,53.3522,Parnell Square West,2,Parnell Square West,None,N,38,O
1,-6.26372,53.3522,Parnell Square West,2,Parnell Square West,None,N,38A,O
2,-6.26372,53.3522,Parnell Square West,2,Parnell Square West,None,N,38B,O
3,-6.26372,53.3522,Parnell Square West,2,Parnell Square West,None,N,38D,O
4,-6.26372,53.3522,Parnell Square West,2,Parnell Square West,None,N,46A,I
5,-6.26372,53.3522,Parnell Square West,2,Parnell Square West,None,N,46E,I
6,-6.26381,53.3523,Parnell Square West,3,Parnell Square West,None,N,120,O
7,-6.26381,53.3523,Parnell Square West,3,Parnell Square West,None,N,122,I
8,-6.26418,53.3526,Parnell Square West,4,Parnell Square West,None,N,7,I
9,-6.26418,53.3526,Parnell Square West,4,Parnell Square West,None,N,9,I
10,-6.26418,53.3526,Parnell Square West,4,Parnell Square West,None,N,7A,I
11,-6.26418,53.3526,Parnell Square West,4,Parnell Square West,None,N,7B,I
12,-6.26418,53.3526,Parnell Square West,4,Parnell Square West,None,N,7D,I
13,-6.26445,53.3527,Parnell Square West,6,Parnell Square West,None,N,4,I
14,-6.26457,53.3528,Parnell Square West,7,Parnell Square West,None,N,13,I
15,-6.26457,53.3528,Parnell Square West,7,Parnell Square West,None,N,40,I
16,-6.26457,53.3528,Parnell Square West,7,Parnell Square West,None,N,140,I
17,-6.26457,53.3528,Parnell Square West,7,Parnell Square West,None,N,40B,O
18,-6.26457,53.3528,Parnell Square West,7,Parnell Square West,None,N,40D,O
19,-6.26518,53.3533,Parnell Square West,8,Parnell Square West,None,N,16,I
20,-6.26539,53.3534,Parnell Square West,10,Parnell Square West,None,N,1,I
21,-6.26539,53.3534,Parnell Square West,10,Parnell Square West,None,N,11,I
22,-6.26539,53.3534,Parnell Square West,10,Parnell Square West,None,N,44,I
23,-6.26463,53.3570,St Joseph's Parade,11,Upper Dorset Street,None,Y,13,I
24,-6.26463,53.3570,St Joseph's Parade,11,Upper Dorset Street,None,Y,40,I
25,-6.26463,53.3570,St Joseph's Parade,11,Upper Dorset Street,None,Y,40B,O
26,-6.26463,53.3570,St Joseph's Parade,11,Upper Dorset Street,None,Y,40D,O
27,-6.26459,53.3568,Upper Dorset Street,12,Upper Dorset Street,None,Y,1,I
28,-6.26459,53.3568,Upper Dorset Street,12,Upper Dorset Street,None,Y,11,I
29,-6.26459,53.3568,Upper Dorset Street,12,Upper Dorset Street,None,Y,16,I
...,...,...,...,...,...,...,...,...,...
70,-6.25596,53.3659,Dargle Road,18,Lower Drumcondra Road,None,N,44,I
71,-6.25596,53.3659,Dargle Road,18,Lower Drumcondra Road,None,N,41B,O
72,-6.25596,53.3659,Dargle Road,18,Lower Drumcondra Road,None,N,41C,O
73,-6.25551,53.3671,Botanic Avenue,19,Lower Drumcondra Road,None,N,1,I
74,-6.25551,53.3671,Botanic Avenue,19,Lower Drumcondra Road,None,N,11,I
75,-6.25551,53.3671,Botanic Avenue,19,Lower Drumcondra Road,None,N,13,I
76,-6.25551,53.3671,Botanic Avenue,19,Lower Drumcondra Road,None,N,16,I
77,-6.25551,53.3671,Botanic Avenue,19,Lower Drumcondra Road,None,N,33,O
78,-6.25551,53.3671,Botanic Avenue,19,Lower Drumcondra Road,None,N,41,O
79,-6.25551,53.3671,Botanic Avenue,19,Lower Drumcondra Road,None,N,44,I
80,-6.25551,53.3671,Botanic Avenue,19,Lower Drumcondra Road,None,N,41B,O
81,-6.25551,53.3671,Botanic Avenue,19,Lower Drumcondra Road,None,N,41C,O
82,-6.25431,53.3701,St Patrick's College,21,Upper Drumcondra Road,None,Y,1,I
83,-6.25431,53.3701,St Patrick's College,21,Upper Drumcondra Road,None,Y,11,I
84,-6.25431,53.3701,St Patrick's College,21,Upper Drumcondra Road,None,Y,13,I
85,-6.25431,53.3701,St Patrick's College,21,Upper Drumcondra Road,None,Y,16,I
86,-6.25431,53.3701,St Patrick's College,21,Upper Drumcondra Road,None,Y,33,O
87,-6.25431,53.3701,St Patrick's College,21,Upper Drumcondra Road,None,Y,41,O
88,-6.25431,53.3701,St Patrick's College,21,Upper Drumcondra Road,None,Y,44,I
89,-6.25431,53.3701,St Patrick's College,21,Upper Drumcondra Road,None,Y,41B,O
90,-6.25431,53.3701,St Patrick's College,21,Upper Drumcondra Road,None,Y,41C,O
91,-6.25280,53.3735,Home Farm Road,22,Home Farm Road,None,N,11,I
92,-6.25626,53.3742,Ferguson Road,23,Home Farm Road,None,Y,11,I
93,-6.26037,53.3751,Walsh Road,24,Home Farm Road,None,N,11,I
94,-6.26362,53.3759,Rathlin Road,25,Home Farm Road,None,N,11,I
95,-6.26659,53.3794,Ballymun Road,27,Ballymun Road,None,N,4,I
96,-6.26659,53.3794,Ballymun Road,27,Ballymun Road,None,N,9,I
97,-6.26659,53.3794,Ballymun Road,27,Ballymun Road,None,N,11,I
98,-6.26659,53.3794,Ballymun Road,27,Ballymun Road,None,N,13,I
99,-6.26659,53.3794,Ballymun Road,27,Ballymun Road,None,Y,70D,I

In [35]:
df2.drop(df2.columns[5], axis=1, inplace=True)

In [36]:
df2.head(236)

,long,lat,longname,stoppointid,streetname,is_stage,route,direction
0,-6.26372,53.3522,Parnell Square West,2,Parnell Square West,N,38,O
1,-6.26372,53.3522,Parnell Square West,2,Parnell Square West,N,38A,O
2,-6.26372,53.3522,Parnell Square West,2,Parnell Square West,N,38B,O
3,-6.26372,53.3522,Parnell Square West,2,Parnell Square West,N,38D,O
4,-6.26372,53.3522,Parnell Square West,2,Parnell Square West,N,46A,I
5,-6.26372,53.3522,Parnell Square West,2,Parnell Square West,N,46E,I
6,-6.26381,53.3523,Parnell Square West,3,Parnell Square West,N,120,O
7,-6.26381,53.3523,Parnell Square West,3,Parnell Square West,N,122,I
8,-6.26418,53.3526,Parnell Square West,4,Parnell Square West,N,7,I
9,-6.26418,53.3526,Parnell Square West,4,Parnell Square West,N,9,I
10,-6.26418,53.3526,Parnell Square West,4,Parnell Square West,N,7A,I
11,-6.26418,53.3526,Parnell Square West,4,Parnell Square West,N,7B,I
12,-6.26418,53.3526,Parnell Square West,4,Parnell Square West,N,7D,I
13,-6.26445,53.3527,Parnell Square West,6,Parnell Square West,N,4,I
14,-6.26457,53.3528,Parnell Square West,7,Parnell Square West,N,13,I
15,-6.26457,53.3528,Parnell Square West,7,Parnell Square West,N,40,I
16,-6.26457,53.3528,Parnell Square West,7,Parnell Square West,N,140,I
17,-6.26457,53.3528,Parnell Square West,7,Parnell Square West,N,40B,O
18,-6.26457,53.3528,Parnell Square West,7,Parnell Square West,N,40D,O
19,-6.26518,53.3533,Parnell Square West,8,Parnell Square West,N,16,I
20,-6.26539,53.3534,Parnell Square West,10,Parnell Square West,N,1,I
21,-6.26539,53.3534,Parnell Square West,10,Parnell Square West,N,11,I
22,-6.26539,53.3534,Parnell Square West,10,Parnell Square West,N,44,I
23,-6.26463,53.3570,St Joseph's Parade,11,Upper Dorset Street,Y,13,I
24,-6.26463,53.3570,St Joseph's Parade,11,Upper Dorset Street,Y,40,I
25,-6.26463,53.3570,St Joseph's Parade,11,Upper Dorset Street,Y,40B,O
26,-6.26463,53.3570,St Joseph's Parade,11,Upper Dorset Street,Y,40D,O
27,-6.26459,53.3568,Upper Dorset Street,12,Upper Dorset Street,Y,1,I
28,-6.26459,53.3568,Upper Dorset Street,12,Upper Dorset Street,Y,11,I
29,-6.26459,53.3568,Upper Dorset Street,12,Upper Dorset Street,Y,16,I
...,...,...,...,...,...,...,...,...
206,-6.26325,53.3580,Temple Street,51,Upper Dorset Street,N,1,O
207,-6.26325,53.3580,Temple Street,51,Upper Dorset Street,N,11,O
208,-6.26325,53.3580,Temple Street,51,Upper Dorset Street,N,13,O
209,-6.26325,53.3580,Temple Street,51,Upper Dorset Street,N,16,O
210,-6.26325,53.3580,Temple Street,51,Upper Dorset Street,N,33,I
211,-6.26325,53.3580,Temple Street,51,Upper Dorset Street,N,40,O
212,-6.26325,53.3580,Temple Street,51,Upper Dorset Street,N,41,I
213,-6.26325,53.3580,Temple Street,51,Upper Dorset Street,N,44,O
214,-6.26325,53.3580,Temple Street,51,Upper Dorset Street,N,122,O
215,-6.26325,53.3580,Temple Street,51,Upper Dorset Street,N,16C,O
216,-6.26325,53.3580,Temple Street,51,Upper Dorset Street,N,40B,I
217,-6.26325,53.3580,Temple Street,51,Upper Dorset Street,N,40D,I
218,-6.26325,53.3580,Temple Street,51,Upper Dorset Street,N,41A,I
219,-6.26325,53.3580,Temple Street,51,Upper Dorset Street,N,41B,I
220,-6.26325,53.3580,Temple Street,51,Upper Dorset Street,N,41C,I
221,-6.26450,53.3568,Dorset Street Upper,52,Upper Dorset Street,Y,1,O
222,-6.26450,53.3568,Dorset Street Upper,52,Upper Dorset Street,Y,11,O
223,-6.26450,53.3568,Dorset Street Upper,52,Upper Dorset Street,Y,13,O
224,-6.26450,53.3568,Dorset Street Upper,52,Upper Dorset Street,Y,16,O
225,-6.26450,53.3568,Dorset Street Upper,52,Upper Dorset Street,Y,33,I
226,-6.26450,53.3568,Dorset Street Upper,52,Upper Dorset Street,Y,40,O
227,-6.26450,53.3568,Dorset Street Upper,52,Upper Dorset Street,Y,41,I
228,-6.26450,53.3568,Dorset Street Upper,52,Upper Dorset Street,Y,44,O
229,-6.26450,53.3568,Dorset Street Upper,52,Upper Dorset Street,Y,122,O
230,-6.26450,53.3568,Dorset Street Upper,52,Upper Dorset Street,Y,16C,O
231,-6.26450,53.3568,Dorset Street Upper,52,Upper Dorset Street,Y,40B,I
232,-6.26450,53.3568,Dorset Street Upper,52,Upper Dorset Street,Y,40D,I
233,-6.26450,53.3568,Dorset Street Upper,52,Upper Dorset Street,Y,41A,I
234,-6.26450,53.3568,Dorset Street Upper,52,Upper Dorset Street,Y,41B,I
235,-6.26450,53.3568,Dorset Street Upper,52,Upper Dorset Street,Y,41C,I

In [37]:
df2.shape

(12525, 8)

In [38]:
df2['direction'] = df2['direction'].replace('O', '1')

In [39]:
df2['direction'] = df2['direction'].replace('I', '2')

In [40]:
df2.head()

,long,lat,longname,stoppointid,streetname,is_stage,route,direction
0,-6.26372,53.3522,Parnell Square West,2,Parnell Square West,N,38,1
1,-6.26372,53.3522,Parnell Square West,2,Parnell Square West,N,38A,1
2,-6.26372,53.3522,Parnell Square West,2,Parnell Square West,N,38B,1
3,-6.26372,53.3522,Parnell Square West,2,Parnell Square West,N,38D,1
4,-6.26372,53.3522,Parnell Square West,2,Parnell Square West,N,46A,2

In [41]:
#df2.to_csv("new_fare_stages", encoding='utf-8', index=False)

In [57]:
query = df2.query("route == '39A' and direction == '2' and is_stage == 'Y'")

In [58]:
query

,long,lat,longname,stoppointid,streetname,is_stage,route,direction
819,-6.26208,53.3469,Dublin,315,Bachelors Walk,Y,39A,2
2183,-6.25572,53.3399,Kildare Street,747,Kildare Street,Y,39A,2
2205,-6.25080,53.3376,Baggot St Lower,749,Lower Baggot Street,Y,39A,2
2245,-6.24446,53.3337,Baggot St Upper,752,Upper Baggot Street,Y,39A,2
2276,-6.24514,53.3288,Wellington Lane,755,Waterloo Road,Y,39A,2
2299,-6.23959,53.3241,Donnybrook Village,757,Morehampton Road,Y,39A,2
2311,-6.23768,53.3227,Victoria Avenue,758,Morehampton Road,Y,39A,2
2338,-6.23056,53.3183,Donnybrook,760,Church of the Sacred Heart,Y,39A,2
2364,-6.22437,53.3145,RTE,762,Stillorgan Road,Y,39A,2
2380,-6.22110,53.3123,Belfield Court,763,Stillorgan Road,Y,39A,2
2390,-6.21712,53.3052,UCD,767,UCD Belfield,Y,39A,2
4352,-6.26924,53.3459,Ormond Quay Upper,1479,Upper Ormond Quay,Y,39A,2
4886,-6.32983,53.3715,Ashtown Roundabout,1696,Navan Road,Y,39A,2
4905,-6.32372,53.3696,Ashtown Grove,1698,Navan Road,Y,39A,2
4924,-6.31740,53.3677,Baggot Road,1700,Navan Road,Y,39A,2
4954,-6.30735,53.3647,Cabra Garda Station,1703,Navan Road,Y,39A,2
4967,-6.28333,53.3519,Manor Street,1713,Manor Street,Y,39A,2
5228,-6.35272,53.3790,Morgan Place,1845,Navan Road,Y,39A,2
5236,-6.33998,53.3749,Old Racecourse,1847,Navan Road,Y,39A,2
5256,-6.41873,53.3934,St Ciaran's Church,1860,Hartstown Road,Y,39A,2
5351,-6.30330,53.3634,Skreen Road,1905,Navan Road,Y,39A,2
5354,-6.29708,53.3612,Old Cabra Road,1906,Old Cabra Road,Y,39A,2
5358,-6.29382,53.3599,Glenbeigh Road,1907,Old Cabra Road,Y,39A,2
5364,-6.28841,53.3570,Prussia Street,1909,Prussia Street,Y,39A,2
10746,-6.39191,53.3943,Blanchardstown Cen,4747,Blanchardstown,Y,39A,2
11849,-6.43822,53.3919,Delhurst,7158,Ongar,Y,39A,2
12282,-6.27838,53.3463,Arran Quay,7453,Arran Quay,Y,39A,2

In [59]:
query.shape

(27, 8)